<a href="https://colab.research.google.com/github/data2450/Linera-Regression-/blob/main/multiliner_regression_with_ridge_and_lasso_regularisation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
# Importing the dataset
dataset = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, 4]

In [ ]:
X.shape

(50, 4)

In [ ]:
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [ ]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [ ]:
#Convert the column into categorical columns

states=pd.get_dummies(X['State'],drop_first=True)

In [ ]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [ ]:
X=X.drop('State',axis=1)

In [ ]:
# concat the dummy variables
X=pd.concat([X,states],axis=1)

In [ ]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
#minmax scaling 
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

linridge = Ridge(alpha=0).fit(X_train_scaled, y_train)

print('startsup')
print('ridge regression linear model intercept: {}'
     .format(linridge.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linridge.coef_))
print('R-squared score (training): {:.3f}'
     .format(linridge.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}'
     .format(linridge.score(X_test_scaled, y_test)))
print('Number of non-zero features: {}'
     .format(np.sum(linridge.coef_ != 0)))

startsup
ridge regression linear model intercept: 44240.59303702785
ridge regression linear model coeff:
[127892.18154461   3499.27567382  17272.02810316   -959.28416006
    699.36905252]
R-squared score (training): 0.950
R-squared score (test): 0.935
Number of non-zero features: 5

In [ ]:
# Fitting Multiple Linear Regression to the Training set
linreg = LinearRegression().fit(X_train, y_train)
linridge = Ridge(alpha=50.0).fit(X_train, y_train)

In [ ]:
print('ridge regression linear model intercept: {}'
     .format(linridge.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linridge.coef_))
print('R-squared score (training): {:.3f}'
     .format(linridge.score(X_train, y_train)))
print('R-squared score (test): {:.3f}'
     .format(linridge.score(X_test, y_test)))
print('Number of non-zero features: {}'
     .format(np.sum(linridge.coef_ != 0)))

ridge regression linear model intercept: 42900.962605971974
ridge regression linear model coeff:
[ 7.77858924e-01  3.00210239e-02  3.50416617e-02 -1.49037845e+02
  1.45907217e+02]
R-squared score (training): 0.950
R-squared score (test): 0.939
Number of non-zero features: 5

# lasso regression

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
linlasso = Lasso(alpha=20).fit(X_train, y_train)

In [ ]:
print('ridge regression linear model intercept: {}'
     .format(linlasso.intercept_))
print('ridge regression linear model coeff:\n{}'
     .format(linlasso.coef_))
print('R-squared score (training): {:.3f}'
     .format(linlasso.score(X_train, y_train)))
print('R-squared score (test): {:.3f}'
     .format(linlasso.score(X_test, y_test)))
print('Number of non-zero features: {}'
     .format(np.sum(linlasso.coef_ != 0)))

ridge regression linear model intercept: 42592.63943572622
ridge regression linear model coeff:
[ 7.73945127e-01  3.25737270e-02  3.64406930e-02 -8.73350055e+02
  6.37603800e+02]
R-squared score (training): 0.950
R-squared score (test): 0.935
Number of non-zero features: 5

In [ ]:
#minmax scaling with lasso
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

linlasso = Lasso(alpha=100).fit(X_train_scaled, y_train)

print('startupdataset')
print('lasso regression linear model intercept: {}'
     .format(linlasso.intercept_))
print('lasso regression linear model coeff:\n{}'
     .format(linlasso.coef_))
print('Non-zero features: {}'
     .format(np.sum(linlasso.coef_ != 0)))
print('R-squared score (training): {:.3f}'
     .format(linlasso.score(X_train_scaled, y_train)))
print('R-squared score (test): {:.3f}\n'
     .format(linlasso.score(X_test_scaled, y_test)))
print('Features with non-zero weight (sorted by absolute magnitude):')

startupdataset
lasso regression linear model intercept: 45982.02616635293
lasso regression linear model coeff:
[128611.03717648   1647.22389888  15229.69541738   -299.92343811
    448.67044869]
Non-zero features: 5
R-squared score (training): 0.950
R-squared score (test): 0.941

Features with non-zero weight (sorted by absolute magnitude):